asgiref==3.9.1
astroid==3.3.9
black==25.12.0
boto3==1.38.7
botocore==1.38.7
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
dill==0.4.0
distlib==0.3.9
Django==5.2.4
django-allauth==65.12.1
et_xmlfile==2.0.0
filelock==3.18.0
idna==3.11
isort==6.0.1
jmespath==1.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.10.1
pylint==3.3.7
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
pytokens==0.3.0
razorpay==2.0.0
reportlab==4.4.5
requests==2.32.5
s3transfer==0.12.0
setuptools==80.1.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
urllib3==2.4.0
virtualenv==20.31.2
wheel==0.45.1
